<nav class="navbar navbar-expand-lg navbar-inverse py-4">
  <a class="navbar-brand mx-auto"  [routerLink]="['/clients']">Mi Band</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">   
      <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
  </span>
  
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
       
    </ul>
     <ul class="nav navbar-nav d-flex">
      <li>
         <a *ngIf="isAuthenticated()" (click)="logOut()" class="btn">Se déconnecter</a>
      </li>
      <li *ngIf="isAuthenticated()">
        <a  *ngIf="isAdmin()" class="btn" ><i class="fas fa-user-tie mr-1" style="margin-left: 5px; "></i>{{username}} </a>
      </li>
    </ul>
  </div>
</nav>
<div >
    <router-outlet>
     
    </router-outlet>
  </div>
